/* Estilo geral do container de registro */
.register-container {
  font-family: 'Roboto', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  background-color: #f0f4f8; /* Fundo claro */
  min-height: 100vh;
  width: 100%;
}

.register-container input {
  width: 100%;
  max-width: 400px;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #dcdcdc;
  border-radius: 5px;
  font-size: 16px;
}

.register-container button {
  width: 100%;
  max-width: 400px;
  padding: 10px;
  margin: 10px 0;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s ease;
  background-color: #D2691E; /* Botão de salvar */
}

.register-container button:hover {
  background-color: #8B4513; /* Cor de hover para salvar */
}
