/* /src/components/TransacaoFinanceira/style.css */
.transacao-container {
    font-family: 'Roboto', sans-serif;
    background-color: #f0f4f8;
    padding: 20px;
    border-radius: 10px;
  }
  
  .transacao-container h2 {
    text-align: center;
    color: #333;
  }
  
  .transacao-container ul {
    list-style: none;
    padding: 0;
  }
  
  .transacao-container li {
    padding: 10px;
    border-bottom: 1px solid #ccc;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .transacao-container input {
    width: 100%;
    max-width: 400px;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #dcdcdc;
    border-radius: 5px;
    font-size: 16px;
  }
  
  .transacao-container button {
    background-color: #27ae60;
    color: white;
    border: none;
    padding: 10px 20px;
    margin: 5px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .transacao-container button:hover {
    background-color: #1e8449;
  }
  
  .new-transacao-form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  